@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>In our salesboard, every users can sell any produts and view all purcharesd products from shopping cart.</p>


