@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    University<br />
    Drive North International Student Center<br />
    <abbr title="Phone">P:</abbr>
    400.700.000
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Candice@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
