@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>You do not have to provide us with your personal information but if you do not provide us 
    with the information we require we may not be able to assist you process your job application, 
    franchise application or expression of interest in a franchise, process your order, participate in 
    Domino's Rewards or provide you with access to “DAM”or allow you physical access to any of our premises. 
    If you do not agree with the practices described in this Privacy Policy, please do not provide us with your personal 
    information or interact with our websites.</p>
